.projectesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projElem {
  width: 400px;
  height: 400px;
  background-size: cover;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius: 25px;
  opacity: 0.85;
  transition: opacity 1s;
  align-items: center !important;
}

.projectDescription {
  //   display: none;
  opacity: 0;
  font-size: 25px;
  font-weight: bold;
  transform: display 1s;
  margin: 0 auto;
  
}

.projElem:hover {
  opacity: 1;
  .projectDescription{
    animation-name: discriptionopacity;
    animation-duration: 1s;
    opacity: 1;
  }
 }

 @keyframes discriptionopacity {
   0% {opacity: 0;}
   25% {opacity: 0.25;}
   50% {opacity: 0.5;}
   75% {opacity: 0.75;}
    100% {opacity: 1;}
    
  }