div#root {
    text-align: center;
   
}

.MuiPagination-ul{
    justify-content: center;
    margin: 10px;
}
.makeStyles-root-2{
    display: inline-flex;
}


.profiles_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding: 20px;
}

.pagination {
    margin: 20px;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75% {background-color: green;}
  }
  
  /* The element to apply the animation to */
  .gitanimation {
  
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }