div#root {
    text-align: center;
   
}

.MuiPagination-ul{
    justify-content: center;
    margin: 10px;
}
.makeStyles-root-2{
    display: inline-flex;
}


.profiles_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding: 20px;
}

.pagination {
    margin: 20px;
}

  
  /* The element to apply the animation to */
