body{
    margin: 0;
    padding: 0;
}

.mainDiv{

    background-image: url("./img/desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}